In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/train.csv")
df_without_event_atrr = df.drop("event_attributes", axis=1)
df_without_event_atrr

         video_id         time      event
0      1606b0e6_0   200.265822      start
1      1606b0e6_0   201.150000  challenge
2      1606b0e6_0   202.765822        end
3      1606b0e6_0   210.124111      start
4      1606b0e6_0   210.870000  challenge
...           ...          ...        ...
11213  ecf251d4_0  3056.587000  challenge
11214  ecf251d4_0  3058.072895        end
11215  ecf251d4_0  3068.280519      start
11216  ecf251d4_0  3069.547000    throwin
11217  ecf251d4_0  3070.780519        end

[11218 rows x 3 columns]

In [3]:
df_without_event_atrr.to_csv('../data/train_correct.csv')